@import '../../../../styles/colors';
.header{
    background-color:$black;
    position: fixed;
    top:0;
    width: 100%;
    color: $white;
    text-align: center;
    padding: 0rem;
    height: 44px;
    
}
.logo{
    height: 24.44px;	
    width: 150px;
    right:16px;
}
.card-body {
    flex: 1 1 auto;
    font-family: Cabin;	
    line-height: 44px;
    padding: 0;
   
    
}
.header-title{
    font-size: 24px;
    font-weight: bold;		
    text-align: center;
    color:$header-title-color;	
}

.serach-icon{
    right: 52px;
    position: absolute;
    cursor: pointer;
    display: block;;
    top: 0px;
}
.card{
    border-radius: 0 !important;
}
@media (max-width: 768px) {
    .header{
        
            background-color:$blue;
            width: 100%;
            color: $white;
            padding: 5px;
            height: 56px;
    }
    .header-icon{
        display: none;
        top:5px;
      }
  }