<div class="card text-white mb-3" style="max-width: 18rem;">
  <div class="card-header bg-danger">Grade 1 > Unit 1 > Investigation 1 > Session 1</div>
  <div class="card-body">
    <p class="card-text assessment-type">Assessment Checklist</p>
    <p class="card-text assessment-subject">A61: Composing 3-D Shapes and MP7</p>
      <div class="progress blue">
        <span class="progress-left">
            <span class="progress-bar"></span>
        </span>
        <span class="progress-right">
            <span class="progress-bar"></span>
        </span>
        <div class="progress-value">75% <br/> observed</div>
    </div>
  </div>
</div>