<div class="card text-white mb-3" style="max-width: 18rem;">
  <div class="card-header bg-danger">Header</div>
  <div class="card-body">
    <h5 class="card-title">Danger card title</h5>
    <p class="card-text"></p>
      <div class="progress yellow">
        <span class="progress-left">
            <span class="progress-bar"></span>
        </span>
        <span class="progress-right">
            <span class="progress-bar"></span>
        </span>
        <div class="progress-value">75% <br/> observed</div>
    </div>
  </div>
</div>