$white: #ffffff;
$blue: #022C45;
$sine-blue: #026ECB;
$red: #dc143c;
$grey: #bbbbbb;
$light-grey: #eeeeee;
$dark-grey: #5B5B5B;
$light-blue:#fdfdfd;
$black:#000000;
$green:#228b39;
$yellow: #ddba1e;
$header-title-color: #EEF3F7;
$header-icon-color: #F9F9F9;

// Functional Colors
$primary--color: $blue;
$secondary--color: $white;
