$white: #ffffff;
$blue: #003156;
$red: #dc143c;
$grey: #bbbbbb;
$light-grey: #eeeeee;
$light-blue:#fdfdfd;
$black:#000000;
$green:#228b39;
$yellow: #ddba1e;

// Functional Colors
$primary--color: $blue;
$secondary--color: $white;