/*
.carousel-inner {
    display: inline-flex;
    .carousel-item{
        transform: scale(0.85);
        display: table-column;
        width:280px;
        text-align: center;
        &.active{
            transform: scale(1);
        }
    }
}*/

.slick-slide{
    transform: scale(0.80);
    &.slick-current{
        transform: scale(1);
    }
}


