
 <!--<div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin">
        <div class="card-body">
          <div class="login-header-img mb-3">
            <img src="../../../assets/images/scout_login.png">
          </div>
          <form class="form-signin" [formGroup]="loginForm">
            <div class="form-label-group">
              <input type="email" id="inputEmail" [formControl]="email" class="form-control" placeholder="Username" required autofocus>
              <label for="inputEmail">Username</label>
              <div *ngIf="email.invalid">{{getErrorEmailMessage()}}</div>
            </div>

            <div class="form-label-group">
              <input [formControl]="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
              <label for="inputPassword">Password</label>
              <div *ngIf="password.invalid">{{getErrorPasswordMessage()}}</div>
            </div>


            <button class="btn btn-lg btn-block btn-login mt-3" (click)="login()">Log In</button>
            <div class="custom-control mt-3 mb-3 pad-0">

              <label class="">-----EasyBridge Auto or Plus Account?-----</label>
            </div>
            <button class="btn btn-lg btn-block easy-bridge-btn">
              Log In with EasyBridge</button>

          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="disclaimer">Note: The Pearson Socut app requires a school-based subscription and a valid Pearson account.</div>

-->
<!--Starting latest design code-->
<div class="container-fluid">
  <div class="row imageCss">
      <!-- <div class="col-md-2"></div> -->
       <div class="col-md-12">
        <img src=".\assets\images\companyName.PNG" id="companyLogo">
        </div>        
        <!-- <div class="col-md-3"></div> -->
  </div>
  <!--division for body-->
  <div class="row second">
      <div class="col-md-3"></div>
          <div class="col-md-6">
            <div class="row">
              
              <div class="col-md-12">
                <form class="form-signin" [formGroup]="loginForm">
              
                    <div class="form-group">
                      <input type="email" id="inputEmail" [formControl]="email" class="form-control" placeholder="user name ..." required autofocus>
                      <!--<div *ngIf="email.invalid">{{getErrorEmailMessage()}}</div> -->
                    </div>
          
                    <div class="form-group">
                      <input type="password" id="password" [formControl]="password" class="form-control" placeholder="password ..." required autofocus>
                      <!-- <div *ngIf="password.invalid">{{getErrorPasswordMessage()}}</div>-->
                    </div>
              
                    <br>
                
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary form-control" >Sign in</button>
                    </div>
                </form>
                <div style="text-align: center;"><p><b>EasyBridge Auto or Plus Account?</b></p></div>
              </div>
            </div>
          </div>
      <div class="col-md-3"></div>
      
      </div>  
      <!-- <div class="row" style="width:0;margin-left:90;"></div> -->
     
      <div class="row">
         <div class="col-md-3" id="row-col-third-3">
        </div> 
        
        <div class="col-md-9" >
           <div class="row" id="row-col-third-9">
              <p style="font-size: 0.8rem;">
              Note: The Pearson Scout app requires a school-based 
              subscription and a valid Pearson account.
              </p>
            </div>
        </div>  
      </div>
</div>