        <div class="icon-bar  flex-center">
          <div class="icon-box">
            <a class="icon-button" (click)="goToPage('dashboard')">
              <i class="icon-overview icon-footer" [ngClass]="{'active': activeClass=='dashboard'}"></i>
              <p [ngClass]="{'active': activeClass=='dashboard'}">Dashboard</p>
            </a>
          </div>
          <div class="icon-box">
            <a class="icon-button" (click)="goToPage('notes')">
              <i class="icon-PDF_alt icon-footer" [ngClass]="{'active': activeClass=='notes'}"></i>
              <p [ngClass]="{'active': activeClass=='notes'}">Notes</p>
            </a>
          </div>
          <div class="icon-box"> 
            <a class="icon-button" (click)="goToPage('media')">
              <i class="icon-media_library icon-footer" [ngClass]="{'active': activeClass=='media'}"></i>
              <p [ngClass]="{'active': activeClass=='media'}">Media</p>
            </a>
          </div>
          <div class="icon-box">
            <a class="icon-button" (click)="goToPage('report')">
              <i class="icon-poll icon-footer" [ngClass]="{'active': activeClass=='reports'}"></i>
              <p [ngClass]="{'active': activeClass=='reports'}">Reports</p>
            </a>
          </div>
          <div class="icon-box"> 
            <a class="icon-button" (click)="goToPage('student')">
              <i class="icon-small_groups icon-footer" [ngClass]="{'active': activeClass=='students'}"></i>
              <p [ngClass]="{'active': activeClass=='students'}">Students</p>
            </a>
          </div>
          <div class="icon-box camera-capter">
            <a class="icon-button" (click)="triggerCamera()">
              <i class="icon-camera icon-footer"></i>
              <p>Camera</p>
            </a>
          </div>
       
        </div>
