
@import '../../../../styles/colors';
.footer{
    background-color:$white;
    position: fixed;
    bottom:0;
    width: 100%;
}
.pb-5, .py-5 {
    padding-bottom: 1rem !important;
    padding-top: 1rem !important;
}

.mb-5, .my-5 {
    margin-bottom: 0rem !important;
}
.card{
    border-radius: 0 !important;
}
.card-body {
    flex: 1 1 auto;
    padding: .0;
    width: 100%;
}
.icon-bar {
    width: 100%;
    overflow: auto;
}
.icon-bar a {
    cursor: pointer;
    width: 60px;
    text-align: center;
    padding: 0;
    transition: all 0.3s ease;
    color: white;
    font-size: 25px;
    float:left;
}
.icon-right{
    right: 50px;
    position: absolute;
}

.icon-button p{
    color: $blue;
    font-size: .5rem;
    padding: 0;
    line-height: 0;
}

.icon-footer{
    font-size: 1.5rem;
    color:gray;
}
.align-right{
    text-align: right;
}
.align-center{
    text-align: center;
}
@media (max-width: 768px) {
    .icon-right{
        right: 20px;
        position: absolute;
    }
}

  