
@import '../../../../styles/colors';
.footer{
    background-color:$white;
    position: fixed;
    bottom:0;
    width: 100%;
}
.camera-capter{
    display: block;
}
.pb-5, .py-5 {
    padding-bottom: 1rem !important;
    padding-top: 1rem !important;
}

.mb-5, .my-5 {
    margin-bottom: 0rem !important;
}
.card{
    border-radius: 0 !important;
}
.card-body {
    flex: 1 1 auto;
    padding: .0;
    width: 100%;
}
.icon-bar {
    overflow: hidden;
    width: 62px;	
    background-color: #FBFDFD;	
    box-shadow: 1px 0 4px 0 rgba(0,0,0,0.2);
    position: absolute;
    top:44px;
    height: calc(100vh - 44px);
}
.icon-bar a {
    cursor: pointer;
    width: 60px;
    text-align: center;
    padding: 0;
    transition: all 0.3s ease;
    color: white;
    float:left;
}
.icon-box {	
    height: 62px;
    width: 60px;
    /* box-shadow: 0 -1px 4px 0 rgba(0, 0, 0, 0.2); */
    margin-bottom: 11px;
    padding-top: 15px;
    margin-left: 0px;
}
.icon-right{
    right: 50px;
    position: absolute;
}

.icon-button p{
    color: $dark-grey;	
    font-family: Cabin;	
    font-size: 12px;	
    line-height: 12px;	
    text-align: center;
}
.icon-button p.active{
    color: $sine-blue;
    
}

.icon-footer{
    height: 25px;	
    width: 24px;	
    color: $dark-grey;	
    font-family: k12_universal_icons;	
    font-size: 24px;	
    line-height: 25px;	
    text-align: center;
}
.icon-footer.active{
    color:$sine-blue;
}
.align-right{
    text-align: right;
}
.align-center{
    text-align: center;
}
@media (max-width: 768px) {
    .icon-right{
        right: 20px;
        position: absolute;
    }
    .icon-bar {
        overflow: hidden;
        height: 62px;	
        background-color: #FBFDFD;	
        box-shadow: 1px 0 4px 0 rgba(0,0,0,0.2);
        position: absolute;
        top:calc(100vh - 72px);
        width:100%;
        height: auto;
        margin: 0 auto;
        position: relative;
    }
    .icon-box {
        float: left;
        width:20%;
    }
    .camera-capter{
        display: none;
    }

}

  