
@import '../../../../styles/colors';
.footer{
    background-color:$white;
    position: fixed;
    bottom:0;
    width: 100%;
}
.card{
    border-radius: 0 !important;
}
.card-body {
    flex: 1 1 auto;
    padding: .0;
    width: 100%;
}
.icon-bar {
    width: 100%;
    overflow: auto;
}
.icon-bar a {

    width: 36px;
    text-align: center;
    padding: 0 12px;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
}



.icon-footer{
    font-size: 1.5rem;
    color:gray;
}
.align-right{
    text-align: right;
}
.align-center{
    text-align: center;
}

  