<div class="card footer">
  <div class="card-body ">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 mx-auto  align-center">
        <div class="icon-bar">
        <a class="icon-button" (click)="triggerVideoCamera()">
              <i class="fa fa-file icon-footer"></i>
            </a>  
        <a class="icon-button" (click)="triggerVideoCamera()">
                <i class="fa fa-video-camera icon-footer"></i>
              </a>
        <a class="icon-button" (click)="triggerVideoCamera()">
                  <i class="fa fa-video-camera icon-footer"></i>
                </a>
        <a class="icon-button" (click)="triggerVideoCamera()">
                    <i class="fa fa-chart icon-footer"></i>
                  </a>
        <a class="icon-button" (click)="triggerVideoCamera()">
                      <i class="fa fa-users icon-footer"></i>
                    </a>
                    <a class="icon-button" (click)="triggerCamera()">
                        <i class="fa fa-camera icon-footer"></i>
                      </a>
        </div>
      </div>
    </div>
  </div>
</div>