<div class="card footer">
  <div class="card-body ">
    <div class="row">
      <div class="col-9 col-sm-9 col-md-9 col-lg-10 mx-auto">
          <a class="button" (click)="triggerVideoCamera()">
              <i class="fa fa-video-camera icon-footer"></i>
            </a>
      </div>
      <div class="col-3 col-sm-3 col-md-3 col-lg-2 mx-auto align-center">
      <a class="button" (click)="triggerCamera()">
        <i class="fa fa-camera icon-footer"></i>
      </a>

     
      </div>
    </div>
  </div>
</div>
