@import 'styles/colors';
:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: .75rem;
}
body {
    color: $blue !important;
    background: $light-blue !important;
    .form-control:focus {
        box-shadow: none;
    }
    section {
        padding: 10px 0;
    }
    section .section-title {
        text-align: center;
        color: $blue;
        margin-bottom: 50px;
    }
    #tabs h6.section-title {
        color: $blue;
    }
    #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
        color: $blue;
        background-color: transparent;
        border-color: transparent transparent $blue;
        border-bottom: 4px solid !important;
        font-size: 1rem;
        font-weight: bold;
    }
    #tabs .nav-tabs .nav-link {
        border: 1px solid transparent;
        border-top-left-radius: .25rem;
        border-top-right-radius: .25rem;
        color: $blue;
        font-size: 20px;
    }
    nav {
        width: 100%;
        text-align: center;
    }
    .nav {
        width: 50%;
        text-align: center;
        display: inline-flex;
    }
    .nav-link {
        padding: 0;
    }
    .treeview-container {
        padding: 0px!important;
        font-weight: normal;
        .form-inline .form-check-input {
            display: none;
        }
        .form-inline .form-check {
            margin: auto!important;
            font-size: .90rem !important;
        }
        .row-item {
            line-height: 1.80rem;
            margin: 0px!important;
            border-bottom: 1px solid #d2d2d2;
            .fa {
                margin-left: 10px;
            }
        }
        .treeview-item {
            background-color: #fff;
            margin-left: 0px!important;
            text-align: unset;
        }
    }
    .pad-0 {
        padding: 0 !important;
    }
    .btn:focus, .btn.focus, .btn:active {
        outline: 0;
        box-shadow: 0 0 0 0.2rem $blue;
    }
    .form-label-group[_ngcontent-c1] > input[_ngcontent-c1], .form-label-group[_ngcontent-c1] > label[_ngcontent-c1] {
        padding: 0;
    }
    .page-container {
        margin-top: 3.75rem;
        height: calc(100% - 7.25rem);
        max-height: calc(100% - 7.25rem);
        overflow-y: auto;
        width: 100%;
        position: fixed;
    }
    .card-withot-border {
        border: 0px;
    }
    .card-body-withot-padding {
        padding: 0;
    }
    .section-header {
        padding: 0.5rem 1.25rem;
        margin-bottom: 0;
        background-color: $blue;
        border-bottom: 1px solid $blue;
        color: $white;
    }
    .row-without-margin {
        display: flex;
        flex-wrap: wrap;
        padding: 0px 0px 0px 0px;
        width: 100%;
        text-align: center;
    }
    .row {
        display: flex;
        flex-wrap: wrap;
        margin-right: 0px;
        margin-left: 0px;
    }
    app-avatar {
        .popover {
            z-index: 98;
            top: 50px !important;
            right: 15px !important;
            left: unset !important;
            .arrow {
                left: unset !important;
                right: 14px !important;
            }
            .popover-body {
                min-width: 12rem !important;
            }
        }
    }
    .header {
        background-color: $blue;
        position: fixed;
        top: 0;
        width: 100%;
        color: $white;
        text-align: center;
        padding: 0rem;
    }
    .card-body {
        flex: 1 1 auto;
        padding: .5rem;
    }
    .header-title {
        font-size: 1.75rem;
    }
    .serach-icon {
        font-size: 2rem;
        padding: .4rem;
        right: 5rem;
        position: absolute;
        cursor: pointer;
    }
    .card {
        border-radius: 0 !important;
    }
    .overlay {
        position: fixed;
        display: none;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5);
        z-index: 2;
        cursor: pointer;
        background-color: $black;
        opacity: .1;
        &.active {
            display: block;
        }
    }
    
    @media (max-width:768px) {
        .header {
            text-align: left;
        }
        .nav {
            width: 100%;
        }
    }
}