@import '../../../styles/colors';
  
  .container-fluid {
    background-color: #04264F;
  }
  
  a, i{color:#ccc !important;}
  .navbar i{color:#fff !important;}
  
  .navbar-toggler {
    padding: 0.7rem .75rem 0.25rem .20rem !important;
    font-size: 1.3rem !important;
    line-height: 1.5 !important;
  }
  
  .navbar-toggler:focus, .navbar-toggler:hover {
    outline: none;
  }
  
  .navbar .title {
    position: absolute;
    left: 44px;
    right: 44px;
    text-align: center;
    font-size: 150%;
    font-weight: bold;
    color: #fff;
  }
  
  .video {
    box-shadow: 1px 6px 10px 2px rgba(35, 35, 35, 0.62);
    height: 600px;
    max-height: 800px;
    width: 1067px;
  }
  
  .nav-link:hover{
    color:#fff !important;
  }
  .nav-link:focus, .active{
    color:#fff !important;
     font-weight: bold;
      text-decoration: none;
    }
  
  .row {
    margin-bottom: 20px;
  }
  
  
  .wrapper {
    position: fixed;
    display: flex;
    align-items: stretch;
    z-index: 100;
    top: 0;
    left: 0;
  }
 
  .overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    background-color: #000;
    opacity: .1;
  }

  .overlay.active {
    display: block;
  }
  
  #sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    background: $blue;
    color: #fff;
    transition: all 0.3s;
    margin-left: -250px;
  }
  
  #sidebar.active {
    margin: 0;
  }
  
  #sidebar .sidebar-header {
    padding: 8px;
    background: #138496;
  }
  
  #sidebar ul.components {
    padding: 20px 0;
  }
  
  #sidebar ul p {
    color: #fff;
    padding: 10px;
  }
  
  #sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    cursor: pointer;
  }
  
  #sidebar ul li:hover, #sidebar ul li.active {
    color: #fff !important;
    background: #138496;
  }
  
  #sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff !important;
    text-decoration: none;
  }
  
  #sidebar ul li.active > a > i{
    color: #fff !important;
  }
  
  @media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
  }