@import '../../../styles/colors';
  
  .container-fluid {
    background-color: #04264F;
  }
  .row-css{
  float:right;
  
}
  
  #sidebarCollapse{
    a, i{color:#ccc !important;}}
  




 /* .democss{
    padding-left:80%;
    }
    
@media only screen and (max-width:600px){
.democss{
 float:right;
 padding-left:45%;
}
}
  */ 
  
  .navbar-toggler {
    padding: 0.7rem .75rem 0.25rem .20rem !important;
    font-size: .75rem !important;
    line-height: 1.5 !important;
  }
  
  .navbar-toggler:focus, .navbar-toggler:hover {
    outline: none;
  }
  
  .navbar {
    i {
      color: $white !important;
    }
    .title {
      position: absolute;
      left: 44px;
      right: 44px;
      text-align: center;
      font-size: 150%;
      font-weight: bold;
      color: $white;
    }
  }

  .video {
    box-shadow: 1px 6px 10px 2px rgba(35, 35, 35, 0.62);
    height: 600px;
    max-height: 800px;
    width: 1067px;
  }
  
  .nav-link {
    &:hover {
      color: $white !important;
    }
    &:focus,
    .active {
      color: $white !important;
      font-weight: bold;
      text-decoration: none;
    }
  }

  .row {
    margin-bottom: 20px;
  }
  
  .wrapper {
    position: fixed;
    display: flex;
    align-items: stretch;
    z-index: 100;
    top: 0;
    left: 0;
    width: 50%;
    margin-left: -50%;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    &.active {
      margin: 0;
    }
  }
 
  

  #sidebar {
    min-width: 100%;
    max-width: 100%;
    min-height: 100vh;
    background: $white;
    color: $blue;
   
    .sidebar-header {
      font-size: 1.25rem;
      padding: .95rem;
      background: $blue;
      color:$white;
      text-align: center;
    }
    ul {
      &.components {
        padding: 20px 0;
      }
      p {
        color: $white;
        padding: 10px;
      }
      li {
        a {
          padding: 10px;
          font-size: 1.1em;
          display: block;
          cursor: pointer;
        }
      }
      li:hover,
      li.active {
        color: $white !important;
        background: #138496;
      }
      li.active>a,
      a[aria-expanded="true"] {
        color: $white !important;
        text-decoration: none;
      }
      li.active>a>i {
        color: $white !important;
      }
    }
    .back-arrow{
      position: absolute;
      right: .5rem;
      padding-top: .2rem;
      cursor: pointer;
    }
  }
  .row-without-margin-carousle {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
    width: calc(100% - 25px);
    text-align: center;
  }
  
  .panel-heading{
    color: #032356;
    background-color: aliceblue;
    .panel-title{
      margin: 0;
      line-height: 2.3em;
      border-bottom: 1px solid #d2d2d2;
      font-size: 0.9em;
      font-weight: 500;
      i{
        color: #b8c6dd!important;
        float: left;
        margin: 10px;
      }
      div{
        text-align: center;
      }
    }
  }

  .panel-group{
    max-height: calc(100% - 55px);
    overflow-y: auto;
    height: calc(100% - 55px);
  }
  .panel-collapse{
    line-height: 2.3em;
    border-bottom: 1px solid #d2d2d2;
    font-size: 0.8em;
    margin-left: 15px;
  }
/*
  .student-modal{
    .header-container{
      width:100%;
    }
    .sub-header{
      background: red;
      padding: 3px 15px;
      color: #d2d2d2;
      font-size: 0.8em;
    }
    .item-title{
      color: #032356;
      padding: 5px 0 0 15px;
      border-bottom:1px solid #d2d2d2;
    }
    .back-btn{
      padding: 15px;
    }
    
  }
    }*/
  @media(max-width:768px) {
    .wrapper {
        width: 90%;
        margin-left: -90%;
    }

    .wrapper.active {
        margin-left: 0;
    }
  }
  
