<div class="page-container">
    <button type="button" id="sidebarCollapse" (click)="toggleSideBar()" class="navbar-toggler ">
        <i class="navbar-toggler-icon fa fa-bars"></i>All
    </button>
    <button type="button" id="sidebarCollapse" (click)="toggleSideBar()" class="navbar-toggler ">
        <i class="navbar-toggler-icon fa fa-bars"></i>Recent
    </button>
    <button type="button" id="sidebarCollapse" (click)="toggleSideBar()" class="navbar-toggler ">
        <i class="navbar-toggler-icon fa fa-bars"></i>Change grade
    </button>


    <div class="row row-without-margin">
        <div class="col-md-12 col-sm-12 col-12">
            <app-carousel></app-carousel>
        </div>
    </div>
    <div class="row row-without-margin">
        <div class="col-md-6 col-sm-12 col-lg-6 col-12">
            <div class="card mb-3 card-withot-border" style="width: 100%">
                <div class="card-header section-header">Recent Activity</div>
                <div class="card-body card-body-withot-padding">
                    <table class="table table-striped">
                        <tbody>
                            <tr>

                                <td>john@example.com</td>
                            </tr>
                            <tr>

                                <td>mary@example.com</td>
                            </tr>
                            <tr>

                                <td>july@example.com</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-lg-6 col-12">
            <div class="card mb-3  card-withot-border" style="width: 100%">
                <div class="card-header section-header">To Do's</div>
                <div class="card-body card-body-withot-padding">
                    <table class="table table-striped">
                        <tbody>
                            <tr>

                                <td>john@example.com</td>
                            </tr>
                            <tr>

                                <td>mary@example.com</td>
                            </tr>
                            <tr>

                                <td>july@example.com</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <app-header></app-header>
    <app-footer [activeClass]="'dashboard'"></app-footer>
    <div class="overlay" [ngClass]="{'active': toggleMenu}"></div>
    <div class="wrapper">
        <nav id="sidebar" [ngClass]="{'active': toggleMenu}">
            <div class="sidebar-header">
                <span>Assessments</span> <span><a (click)="toggleSideBar()"><i class="fa fa-arrow-left back-arrow"></i></a></span>

            </div>
            <div class="panel-group" id="accordion">
                <div class="panel panel-default" *ngFor="let itm of sideMenuData; let i = index" [attr.data-index]="i">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <i class="fa fa-chevron-down"></i>
                            <div data-toggle="collapse" data-parent="#accordion" data-target="#collapse1">
                                {{itm.text}}
                            </div>
                        </div>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in" *ngFor="let child of itm.children">
                        <div class="panel-body" (click)="htmlInsideModal.open()">{{child.text}}</div>
                    </div>
                </div>

            </div>
        </nav>


        <modal #htmlInsideModal class="student-modal">
            <ng-template #modalHeader>
                <div class="header-container">
                    <span class="back-btn pull-left">Back</span>
                    <div class="card-body"><span class="header-title">Assessment Checklist</span>

                    </div>
                </div>
            </ng-template>
            <ng-template #modalBody>
                <div class="sub-header">
                    Grade1 > Unit2 > Investigation2 > Session 2.4
                </div>
                <div class="item-title">A11: Constructing and Drawing 2-D Shapes</div>
            </ng-template>
            <ng-template #modalFooter></ng-template>
        </modal>
    </div>
</div>