@import '../../../styles/colors';
  
  .container-fluid {
    background-color: #04264F;
  }
  
  #sidebarCollapse{a, i{color:#ccc !important;}}
  
  .navbar-toggler {
    padding: 0.7rem .75rem 0.25rem .20rem !important;
    font-size: .75rem !important;
    line-height: 1.5 !important;
  }
  
  .navbar-toggler:focus, .navbar-toggler:hover {
    outline: none;
  }
  
  .navbar {
    i {
      color: $white !important;
    }
    .title {
      position: absolute;
      left: 44px;
      right: 44px;
      text-align: center;
      font-size: 150%;
      font-weight: bold;
      color: $white;
    }
  }

  .video {
    box-shadow: 1px 6px 10px 2px rgba(35, 35, 35, 0.62);
    height: 600px;
    max-height: 800px;
    width: 1067px;
  }
  
  .nav-link {
    &:hover {
      color: $white !important;
    }
    &:focus,
    .active {
      color: $white !important;
      font-weight: bold;
      text-decoration: none;
    }
  }

  .row {
    margin-bottom: 20px;
  }
  
  .wrapper {
    position: fixed;
    display: flex;
    align-items: stretch;
    z-index: 100;
    top: 0;
    left: 0;
    width: 50%;
    margin-left: -50%;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    &.active {
      margin: 0;
    }
  }
 
  

  #sidebar {
    min-width: 100%;
    max-width: 100%;
    min-height: 100vh;
    background: $white;
    color: $blue;
   
    .sidebar-header {
      font-size: 1.25rem;
      padding: .95rem;
      background: $blue;
      color:$white;
      text-align: center;
    }
    ul {
      &.components {
        padding: 20px 0;
      }
      p {
        color: $white;
        padding: 10px;
      }
      li {
        a {
          padding: 10px;
          font-size: 1.1em;
          display: block;
          cursor: pointer;
        }
      }
      li:hover,
      li.active {
        color: $white !important;
        background: #138496;
      }
      li.active>a,
      a[aria-expanded="true"] {
        color: $white !important;
        text-decoration: none;
      }
      li.active>a>i {
        color: $white !important;
      }
    }
    .back-arrow{
      position: absolute;
      right: .5rem;
      padding-top: .2rem;
      cursor: pointer;
    }
  }
  .row-without-margin-carousle {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
    width: calc(100% - 25px);
    text-align: center;
  }
  
  .panel-heading{
    color: #032356;
    background-color: aliceblue;
    .panel-title{
      margin: 0;
      line-height: 2.3em;
      border-bottom: 1px solid #d2d2d2;
      font-size: 0.9em;
      font-weight: 500;
      i{
        color: #b8c6dd!important;
        float: left;
        margin: 10px;
      }
      div{
        text-align: center;
      }
    }
  }

  .panel-group{
    max-height: calc(100% - 55px);
    overflow-y: auto;
    height: calc(100% - 55px);
  }
  .panel-collapse{
    line-height: 2.3em;
    border-bottom: 1px solid #d2d2d2;
    font-size: 0.8em;
    margin-left: 15px;
  }
/*
  .student-modal{
    .header-container{
      width:100%;
    }
    .sub-header{
      background: red;
      padding: 3px 15px;
      color: #d2d2d2;
      font-size: 0.8em;
    }
    .item-title{
      color: #032356;
      padding: 5px 0 0 15px;
      border-bottom:1px solid #d2d2d2;
    }
    .back-btn{
      padding: 15px;
    }
    
  }
    }*/
  @media(max-width:768px) {
    .wrapper {
        width: 90%;
        margin-left: -90%;
    }

    .wrapper.active {
        margin-left: 0;
    }
  }
  
  /*Start of css for full page modal*/
  #myModal {
    .card-body {
        padding: .4rem;
   }
    i {
        color: unset!important;
   }
    .modal-main-header {
        background: #003156;
        color: #ffffff;
        text-align: center;
        padding: 0;
   }
    .back-icon {
        float: left;
        font-size: 1.8em;
        font-weight: 800;
        margin-right: 10px;
   }
    &.modal {
        padding: 0!important;
        align-items: start!important;
        .modal-dialog {
            width: 100%;
            max-width: unset;
            height: 100%;
            padding: 0;
            margin: 0;
       }
   }
    .modal-content {
        border-radius: 0;
        height: 100vh;
        .sub-header{
            background: darkred;
            color: #ffffff;
            padding-left: 10px;
            margin-bottom: 0px;
       }
        .footer {
            position: absolute;
            width: 100%;
            text-align: right;
            letter-spacing: 5px;
            padding-right: 30px;
            height: 30px;
            bottom: 0;
       }
        .modal-body {
            max-height: calc(100% - 120px);
            overflow-y: scroll;
            padding: 0;
            .assessment-title{
                padding: 10px;
                font-weight: 500;
                border-bottom: 1px solid #d2d2d2;
           }
            .assessment-grid-wrapper {
                padding-top: 10px;
                border-bottom: 1px solid #d2d2d2;
                .assessment-grid{
                    width: 1600px;
               }
                .assessment-cell {
                    width: 400px;
                    padding: 0 5px;
                    .assessment-details{
                        border: 1px solid #d2d2d2;
                        border-bottom: unset;
                        height: 100px;
                        padding: 5px;
                        font-weight: 500;
                        text-align: center;
                        .comment-check{
                            opacity: 0.5;
                            border-right: 2px solid #d2d2d2;
                            display: inline-block;
                            width: 20%;
                            font-size: 1.25em;
                            line-height: 90px;
                       }
                        .add-comment {
                            width: 60%;
                            display: inline-block;
                            margin: auto;
                            font-weight: 400;
                            line-height: 90px;
                            border-right: 2px solid #d2d2d2;
                       }
                        .open-comment {
                            opacity: 0.5;
                            display: inline-block;
                            width: 20%;
                            font-size: 1.25em;
                            vertical-align: middle;
                       }
                   }
                    .assessment-header {
                        background: #003156;
                        color: #fff;
                        font-weight: 400;
                        padding: 4px 15px;
                        height: 40px;
                   }
                    .name-icon {
                        height: 30px;
                        width: 30px;
                        border-radius: 80px;
                        display: inline-block;
                        background: #6e87af;
                        text-align: center;
                        padding: 2px 0px;
                        margin-right: 25px;
                   }
               }
           }
       }
   }
    .modal.fade .modal-dialog {
        transition: unset!important;
        transition: unset!important;
        transition: unset!important;
        -webkit-transform: unset!important;
        transform: unset!important;
   }
}
  /*end of css for full page modal*/
