<div class="container-flud">
    <div class="page-container">
        <div class="row row-without-margin">
            <button type="button" id="sidebarCollapse" (click)="toggleAssessSideBar()" class="navbar-toggler ">
                <i class="navbar-toggler-icon fa fa-bars"></i>All
            </button>
            <button type="button" id="sidebarCollapse" (click)="toggleAssessSideBar()" class="navbar-toggler ">
                <i class="navbar-toggler-icon fa fa-bars"></i>Recent
            </button>
            <button type="button" id="sidebarCollapse" (click)="toggleAssessSideBar()" class="navbar-toggler ">
                <i class="navbar-toggler-icon fa fa-bars"></i>Change grade
            </button>
        </div>

        <div class="row row-without-margin-carousle">
            <div class="col-md-12 col-sm-12 col-12">
                <app-carousel></app-carousel>
            </div>
        </div>
        <div class="row row-without-margin">
            <div class="col-md-6 col-sm-12 col-lg-6 col-12">
                <div class="card mb-3 card-withot-border" style="width: 100%">
                    <div class="card-header section-header">Recent Activity</div>
                    <div class="card-body card-body-withot-padding">
                        <table class="table table-striped">
                            <tbody>
                                <tr>

                                    <td> <span class="ass-item"><i class="fa fa-check-square-o"></i></span><span class="ass-item">Comparing
                                            and Combining Shapes</span>
                                        <p>Grade1 > Unit2 > Invesgigation 1 >Section 1.2</p>
                                    </td>
                                </tr>
                                <tr>

                                    <td> <span class="ass-item"><i class="fa fa-check-square-o"></i></span><span class="ass-item">Comparing
                                            and Combining Shapes</span>
                                        <p>Grade1 > Unit2 > Invesgigation 2 >Section 1.2</p>
                                    </td>
                                </tr>
                                <tr>

                                    <td> 
                                        <span class="notes-item"><i class="fa fa-file-text-o"></i></span><span>Test Notes</span>
                                    </td>
                                </tr>
                                <tr>

                                    <td><span class="media-item"><i class="fa fa-picture-o"></i></span><span>06/13
                                            Picture 1 </span></td>
                                </tr>
                                <tr>

                                    <td><span class="media-item"><i class="fa fa-picture-o"></i></span><span>06/13
                                            Video 1 </span></td>
                                </tr>
                                <tr>

                                    <td>july@example.com</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-lg-6 col-12">
                <div class="card mb-3  card-withot-border" style="width: 100%">
                    <div class="card-header section-header">To Do's</div>
                    <div class="card-body card-body-withot-padding">
                        <table class="table table-striped">
                                <tbody>
                                        <tr>
        
                                            <td>john@example.com</td>
                                        </tr>
                                        <tr>
        
                                            <td>mary@example.com</td>
                                        </tr>
                                        <tr>
        
                                            <td>july@example.com</td>
                                        </tr>
                                    </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-header></app-header>
    <app-footer [activeClass]="'dashboard'"></app-footer>
    <div class="overlay" (click)="toggleAssessSideBar()" [ngClass]="{'active': toggleAssessment }"></div>
    <div class="wrapper" [ngClass]="{'active': toggleAssessment}">
        <nav id="sidebar">
            <div class="sidebar-header">
                <span>Assessments</span>
                <!-- <span><a (click)="toggleAssessSideBar()"><i class="fa fa-arrow-left back-arrow"></i></a></span> -->

            </div>
            <div class="panel-group" id="accordion">
                <div class="panel panel-default" *ngFor="let itm of sideMenuData; let i = index" [attr.data-index]="i">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <i class="fa fa-chevron-down"></i>
                            <div data-toggle="collapse" data-parent="#accordion" data-target="#collapse1">
                                {{itm.text}}
                            </div>
                        </div>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in" *ngFor="let child of itm.children">
                        <div class="panel-body" data-toggle="modal" data-target="#myModal">{{child.text}}</div>
                    </div>
                </div>

            </div>
        </nav>
    </div>
    <!-- Start of full page modal-->
    <div class="overlay" [ngClass]="{'active': toggleAssessmentModal }"></div>
    <div id="myModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-main-header">

                    <div class="card-body"> <i class="fa fa-angle-left back-icon" aria-hidden="true"></i><span class="back-btn pull-left"
                            data-dismiss="modal">Back</span><span class="header-title">Assessment Checklist</span>

                    </div>

                </div>
                <div class="row row-without-margin sub-header"> Grade1 > Unit2 > Investigation2 > Session 2.4</div>
                <div class="modal-body">

                    <div class="assessment-title">
                        A11: Constructing and Drawing 2-D Shapes
                    </div>
                    <div class="assessment-grid-wrapper">
                        <table class="assessment-grid">
                            <tr>
                                <th class="assessment-cell">
                                    <div class="assessment-header">

                                    </div>

                                </th>
                                <th class="assessment-cell">
                                    <div class="assessment-header">
                                        <div class="name-icon">AA</div>
                                        <span>Student A</span>
                                    </div>

                                </th>
                                <th class="assessment-cell">
                                    <div class="assessment-header">
                                        <div class="name-icon">AA</div>
                                        <span>Student A</span>
                                    </div>

                                </th>
                                <th class="assessment-cell">
                                    <div class="assessment-header">
                                        <div class="name-icon">AA</div>
                                        <span>Student A</span>
                                    </div>

                                </th>
                                <th class="assessment-cell">
                                    <div class="assessment-header">
                                        <div class="name-icon">AA</div>
                                        <span>Student A</span>
                                    </div>

                                </th>
                            </tr>
                            <tr *ngFor="let itm of assessmentList">
                                <td class="assessment-cell" data-toggle="modal" data-target="#edit-comment">
                                    <div class="assessment-details" (click)="openEditCommentModal()">{{itm}}</div>
                                </td>
                                <td class="assessment-cell">
                                    <div class="assessment-details">
                                        <div class="comment-check">
                                            <i class="fa fa-check" aria-hidden="true"></i>
                                        </div>
                                        <div class="add-comment">
                                            Add comment
                                        </div>
                                        <div class="open-comment">
                                            <div><i class="fa fa-comment" aria-hidden="true"></i></div>
                                            <div><i class="fa fa-camera" aria-hidden="true"></i></div>
                                        </div>
                                    </div>
                                </td>
                                <td class="assessment-cell">
                                    <div class="assessment-details">
                                        <div class="comment-check">
                                            <i class="fa fa-check" aria-hidden="true"></i>
                                        </div>
                                        <div class="add-comment">
                                            Add comment
                                        </div>
                                        <div class="open-comment">
                                            <div><i class="fa fa-comment" aria-hidden="true"></i></div>
                                            <div><i class="fa fa-camera" aria-hidden="true"></i></div>
                                        </div>
                                    </div>
                                </td>
                                <td class="assessment-cell">
                                    <div class="assessment-details">
                                        <div class="comment-check">
                                            <i class="fa fa-check" aria-hidden="true"></i>
                                        </div>
                                        <div class="add-comment">
                                            Add comment
                                        </div>
                                        <div class="open-comment">
                                            <div><i class="fa fa-comment" aria-hidden="true"></i></div>
                                            <div><i class="fa fa-camera" aria-hidden="true"></i></div>
                                        </div>
                                    </div>
                                </td>
                                <td class="assessment-cell">
                                    <div class="assessment-details">
                                        <div class="comment-check">
                                            <i class="fa fa-check" aria-hidden="true"></i>
                                        </div>
                                        <div class="add-comment">
                                            Add comment
                                        </div>
                                        <div class="open-comment">
                                            <div><i class="fa fa-comment" aria-hidden="true"></i></div>
                                            <div><i class="fa fa-camera" aria-hidden="true"></i></div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class=" footer"> A B C D E F G H I J K L M N O P Q R S T U V W X Y Z</div>
            </div>

        </div>

    </div>
    <!--Modal for uploading photo-->
    <div class="modal" id="edit-comment" tabindex="-1" role="dialog" aria-labelledby="edit-comment-modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="assessment-header">
                        <div class="name-icon">AA</div>
                        <span>Student A</span>
                    </div>

                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!-- end of full page modal-->
    <app-search></app-search>

</div>