/*Start of css for full page modal*/

#myModal {
	.back-btn{
		padding-top: 2px;
	}
	.card-body {
		padding: .4rem;
	}
	i {
		color: unset!important;
	}
	.modal-main-header {
		background: #003156;
		color: #ffffff;
		text-align: center;
		padding: 0;
	}
	.back-icon {
		float: left;
		font-size: 1.8em;
		font-weight: 800;
		margin-right: 10px;
	}
	&.modal {
		padding: 0!important;
		align-items: start!important;
		.modal-dialog {
			width: 100%;
			max-width: unset;
			height: 100%;
			padding: 0;
			margin: 0;
		}
	}
	.modal-content {
		border-radius: 0;
		height: 100vh;
		.sub-header {
			background: darkred;
			color: #ffffff;
			padding-left: 10px;
			margin-bottom: 0px;
		}
		.footer {
			position: absolute;
			width: 100%;
			text-align: right;
			letter-spacing: 5px;
			padding-right: 30px;
			height: 30px;
			bottom: 0;
		}
		.modal-body {
			max-height: calc(100% - 120px);
			overflow-y: scroll;
			padding: 0;
			.assessment-title {
				padding: 10px;
				font-weight: 500;
				border-bottom: 1px solid #d2d2d2;
			}
		}
	}
	.modal.fade .modal-dialog {
		transition: unset!important;
		transition: unset!important;
		transition: unset!important;
		-webkit-transform: unset!important;
		transform: unset!important;
	}
}
.assessment-header {
	background: #003156;
	color: #fff;
	font-weight: 400;
	padding: 4px 15px;
	height: 40px;
}
.name-icon {
	height: 30px;
	width: 30px;
	border-radius: 80px;
	display: inline-block;
	background: #6e87af;
	text-align: center;
	padding: 2px 0px;
	margin-right: 25px;
}
.assessment-grid-wrapper {
	padding-top: 10px;
	border-bottom: 1px solid #d2d2d2;
	.assessment-grid {
		display: table;
		table-layout: fixed;
		width: 100%;
	}
	.assessment-cell {
		width: 350px;
		padding: 0 5px;
		display: table-cell;
		.assessment-details {
			border: 1px solid #d2d2d2;
			border-bottom: unset;
			height: 100px;
			padding: 5px;
			font-weight: 500;
			text-align: center;
			.comment-check {
				opacity: 0.5;
				border-right: 2px solid #d2d2d2;
				display: inline-block;
				width: 20%;
				font-size: 1.25em;
				line-height: 90px;
			}
			.add-comment {
				width: 60%;
				display: inline-block;
				margin: auto;
				font-weight: 400;
				line-height: 90px;
				border-right: 2px solid #d2d2d2;
			}
			.open-comment {
				opacity: 0.5;
				display: inline-block;
				width: 20%;
				font-size: 1.25em;
				vertical-align: middle;
			}
		}
	}
}
#edit-comment {
	.assessment-grid {
		width: 100%;
	}
	.modal-body {
		height: 400px;
		padding: 0px;
	}
	.modal-dialog {
		top: 131px;
		width: 340px;
		left: 355px;
		max-width: 340px;
		margin: 0;
  }
  

}
@media(max-width:768px) {
	#myModal .modal-content .footer {
		height: 60px;
	}
}

/*end of css for full page modal*/  