@import '../../../../styles/colors';
.thumbnail {
  position: relative;
  padding: 0px;
  margin-bottom: 20px;
}

.thumbnail img {
  width: 100%;
}

.search-icon{
    padding: 9px;
    position: absolute;
    height: 25px;	
    width: 26px;	
    color: #F9F9F9;	
    font-family: k12_universal_icons;	
    font-size: 24px;	
    line-height: 25px;
    display: block;
}
.search-box{
    width: 1rem;
    padding-left: 46px;
}
.enter-keyword-to-sea {	
  color: #E0E9EF;	
  font-family: Cabin;	
  font-size: 18px;	
  font-style: italic;	
  letter-spacing: 0.45px;	
  line-height: 22px;
  position: relative;
  top: 4px;
  margin-right: 115px; 
}
.clear-btn{
    cursor: pointer;
    float: right;
    position: absolute;
    height: 22px;	
    width: 42px;	
    color: #FBFDFD;	
    font-family: Cabin;	
    font-size: 18px;	
    letter-spacing: 0.45px;	
    line-height: 22px;
    right:54px;
    top: 12px;
}
.form-control, .form-control:focus {
    background-color:transparent;
    border-color:none;
    border:none;
}
#wrapper {
    position: fixed;
    display: flex;
    align-items: stretch;
    z-index: 100;
    top: 0;
    right: 0;
    width: 50%;
    margin-right: -50%;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    &.active {
        margin: 0px;
      }
}

#sidebar-wrapper {
    min-width: 100%;
    max-width: 100%;
    min-height: 100vh;
    background: $white;
    color: $blue;
    transition: all 0.3s;
    overflow-y: auto;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    top: 0px;
    position: absolute;
    .col-12{
      padding-right: 0px !important;
      padding-left: 0px !important;
    }
    .sidebar-header {
        height: 44px;		
        background-color: #004168;	
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.3);
        color:$white;
        text-align: left;
        .input-group {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            align-items: stretch;
            width: calc(100% - 50px);
            margin: 0;
            padding: 0;
        }
      }
      ul {
        padding: 0px;
        list-style-type: none;
        &.components {
          padding: 20px 0;
        }
        p {
          color: $grey;
          padding: 10px 15px;
          line-height: 0rem;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
        li {
          a {
            padding: 0;
            font-size: 1.1em;
            display: block;
            cursor: pointer;
          }
          
        }
        li:hover,
        li.active {
          p{color: $white !important;}
          background: $light-grey;
        }
        li.active>a,
        a[aria-expanded="true"] {
          color: $white !important;
          text-decoration: none;
        }
       
      }
      .back-arrow{
        position: absolute;
        right: .5rem;
        padding-top: .2rem;
        cursor: pointer;
      }
      
}

@media(max-width:768px) {
    #wrapper {
        width: 100%;
        margin-right: -100%;
    }
    #wrapper.active {
        margin-right: 0;
    }
    #sidebar-wrapper{
      top: 56px;

  }

}