<div class="overlay" (click)="toggleSearchSideBar()" [ngClass]="{'active': toggleSearch }"></div>
<div id="wrapper" [ngClass]="{'active': toggleSearch}">

    <div id="sidebar-wrapper" >
        <div class="sidebar-header">
            <div class="input-group col-12">
                
                <span class="input-group-append">
                  
                      <i class="fa fa-search search-icon"></i>
                  
                </span>
                <input class="form-control py-2 search-box" type="search" value="" [(ngModel)]="searchKeyword" placeholder="Type keywords here">
                <div class="clear-btn" (click)="clearSearchkeyword()">Clear</div>
          </div>
        </div>
        <div style="display: flex;position: absolute;height:calc(100% - 1rem); width:100%;">
            <section id="tabs">
                <div class="container">
                  <div class="row">
                    <div class="col-12">
                      <nav>
                        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                          <a class="nav-item nav-link active" id="nav-assessments-tab" data-toggle="tab" href="#nav-assessments" role="tab" aria-controls="nav-assessments" aria-selected="true">Assessments</a>
                          <a class="nav-item nav-link" id="nav-notes-tab" data-toggle="tab" href="#nav-notes" role="tab" aria-controls="nav-notes" aria-selected="false">Notes</a>
                          <a class="nav-item nav-link" id="nav-media-tab" data-toggle="tab" href="#nav-media" role="tab" aria-controls="nav-media" aria-selected="false">Media</a>
                        </div>
                      </nav>
                      <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-assessments" role="tabpanel" aria-labelledby="nav-assessments-tab">
                            <ul>
                              <li>
                                <span class="ass-item"><i class="fa fa-check-square-o"></i></span><span>Comparing and Combining Shapes</span>
                                <p>Grade1 > Unit2 > Invesgigation 1 >Section 1.2</p>
                              </li>
                              
                            </ul>
                              
                        </div>
                        <div class="tab-pane fade" id="nav-notes" role="tabpanel" aria-labelledby="nav-notes-tab">
                            <ul>
                              <li>
                                <span class="notes-item"><i class="fa fa-file-text-o"></i></span><span>Test Notes</span>
                                
                              </li>
                              
                            </ul>
                              
                        </div>
                        <div class="tab-pane fade" id="nav-media" role="tabpanel" aria-labelledby="nav-media-tab">
                            
                            <ul>
                                <li>
                                  <span class="media-item"><i class="fa fa-picture-o"></i></span><span>06/13 Picture 1 </span>
                                  
                                </li>
                                <li>
                                    <span class="media-item"><i class="fa fa-picture-o"></i></span><span>06/13 Video 1 </span>
                                    
                                  </li>
                                
                              </ul>
                                <!-- <div class="row">
                                  
                                  <div class="col-xs-18 col-sm-6 col-md-3">
                                    <div class="thumbnail">
                                      <img src="../../../../assets/images/500x300.png" alt="">
                                        <div class="caption">
                                          <span>Thumbnail label</span>
                                          </div>
                                    </div>
                                  </div>
                          
                                  <div class="col-xs-18 col-sm-6 col-md-3">
                                    <div class="thumbnail">
                                      <img src="../../../../assets/images/500x300.png" alt="">
                                        <div class="caption">
                                            <span>Thumbnail label</span>
                                        </div>
                                    </div>
                                  </div>
                          
                                  <div class="col-xs-18 col-sm-6 col-md-3">
                                    <div class="thumbnail">
                                      <img src="../../../../assets/images/500x300.png" alt="">
                                        <div class="caption">
                                            <span>Thumbnail label</span>
                                        </div>
                                    </div>
                                  </div>
                          
                                  <div class="col-xs-18 col-sm-6 col-md-3">
                                    <div class="thumbnail">
                                      <img src="../../../../assets/images/500x300.png" alt="">
                                        <div class="caption">
                                            <span>Thumbnail label</span>
                                        </div>
                                    </div>
                                  </div>
                                  
                                </div>End row -->
                                
                              
                        </div>
                        
                      </div>
                    
                    </div>
                  </div>
                </div>
              </section>
      </div>
    </div>